html, body {
  background-color: #DCDCDC; }

h4 {
  font-weight: bold; }

.container {
  margin-top: 10%;
  background-color: #FFFFFF;
  border: 1px solid #DCDCDC;
  width: 70%;
  padding-top: 2%;
  padding-bottom: 5%; }
