html,body{

  background-color: #DCDCDC;
}
h3{
  font-weight:bold;
}
.container-fluid{
  margin-top:5%;
  background-color:#FFFFFF;
  border: 1px solid #DCDCDC;
  width: 70%;
}

#registerNow{
  margin-bottom: 5%;

}
